<nav class="navbar">
  <div class="navbar-superior">
    <h2 class="logo">ANIME XTREMO</h2>

    <button class="menu-btn" (click)="toggleMenu()">
      ☰
    </button>

    <div class="menu escritorio">
      <a routerLink="/" routerLinkActive="activo">INICIO</a>
      <a routerLink="/catalogo" routerLinkActive="activo">CATALOGO</a>
      <a routerLink="/ofertas" routerLinkActive="activo">OFERTAS</a>
      <a routerLink="/carrito" routerLinkActive="activo">CARRITO</a>
      <a routerLink="/contacto" routerLinkActive="activo">CONTACTOS</a>

      <a *ngIf="!authService.estaLogueado()" routerLink="/login" routerLinkActive="activo">LOGIN</a>

      <a *ngIf="authService.estaLogueado()" routerLink="/admin" routerLinkActive="activo">ADMIN</a>
      <a *ngIf="authService.estaLogueado()" href="#" (click)="logout(); $event.preventDefault()">CERRAR SESION</a>
    </div>
  </div>

  @if (menuAbierto) {
    <div class="menu-mobile">
      <a routerLink="/" (click)="cerrarMenu()">INICIO</a>
      <a routerLink="/catalogo" (click)="cerrarMenu()">CATALOGO</a>
      <a routerLink="/ofertas" (click)="cerrarMenu()">OFERTAS</a>
      <a routerLink="/carrito" (click)="cerrarMenu()">CARRITO</a>
      <a routerLink="/contacto" (click)="cerrarMenu()">CONTACTOS</a>

      <a *ngIf="!authService.estaLogueado()" routerLink="/login" (click)="cerrarMenu()">LOGIN</a>

      <a *ngIf="authService.estaLogueado()" routerLink="/admin" (click)="cerrarMenu()">ADMIN</a>
      <a *ngIf="authService.estaLogueado()" href="#" (click)="logout(); $event.preventDefault()">Cerrar sesión</a>
    </div>
  }
</nav>